@import url(normalize.css);

html {
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("../img/sky.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    min-height: 100vh;
    width: 100vw;
    animation: backgroundPan 60s linear infinite;
}

@keyframes backgroundPan {
    0%, 100% {
        background-position: 0% 100%;
    }
    50% {
        background-position: 100% 0%;
    }
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(225, 225, 225);
    background-color: rgb(25, 25, 25);
    width: 100vw;
    height: 100vh;
    z-index: 99;
}

.planeTop {
    margin: 50px 0 0 0;
    width: 100%;
    overflow: hidden;
}

.planeTop img {
    margin: 0;
    width: 40%;
    animation: planeRight 12s infinite linear;
}

.planeBottom {
    margin: 0 0 50px 0;
    width: 100%;
    overflow: hidden;
}

.planeBottom img {
    transform: scaleX(-1);
    margin: 0;
    width: 50%;
    animation: planeLeft 8s infinite linear;
}

.gift-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    filter: drop-shadow(0 0 64px white);
}

.gift-box__top {
    width: 100%;
    position: absolute;
    transition: all 1s linear;
}


.gift-box.gift-box__open .gift-box__top {
    transform: rotate(75deg) translate(32%, -35%) scale(0.7);
}

.gift-box__bottom {
    width: 100%;
    position: absolute;
    transition: all 1s linear;
}

.gift-card {
    width: 100%;
    height: 100%;
    border: 4px ridge rgb(26, 26, 26);
    background-color: rgb(64, 64, 64);
    filter: drop-shadow(0 0 32px rgb(251, 127, 255));
}

.gifts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    max-width: 100%;
    height: 150px;
    padding: 4px;
}

.gift {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: rgb(39, 39, 39);
    border: 2px ridge rgb(23, 23, 23);
}

.gift div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.gift h1 {
    position: fixed;
    top: -18px;
    font-size: small;
    font-weight: bold;
    color: rgb(255, 204, 0);
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px  1px 0 #000,
        1px  1px 0 #000;
    animation: fadeIn 2s ease-in-out;
}

.gift p {
    position: fixed;
    bottom: -25px;
    font-size: small;
    font-weight: bold;
    color: rgb(255, 204, 0);
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px  1px 0 #000,
        1px  1px 0 #000;
    animation: fadeIn 2s ease-in-out;
}

.gift img {
    height: 100%;
}

.gift-1 {
    animation: fromBoxLeft 0.5s ease-in-out;
}

.gift-2 {
    animation: fromBoxRight 0.5s ease-in-out;
}

.gift-2 img {
    filter: brightness(1.2);
}

.show {
    display: flex;
}

.hide {
    display: none;
}

@keyframes planeRight {
    0% {
        transform: translate(-150%,0%);
    }
    100% {
        transform: translate(500%,0%);
    }
}

@keyframes planeLeft {
    0% {
        transform: translate(500%,0%) scaleX(-1);
    }
    100% {
        transform: translate(-500%,0%) scaleX(-1);
    }
}


@keyframes fromBoxLeft {
    0% {
        transform: translate(50%, 100%) scale(0);
    }
    100% {
        transform: translate(0%, 0%) scale(1);
    }
}

@keyframes fromBoxRight{
    0% {
        transform: translate(-50%, 100%) scale(0);
    }
    100% {
        transform: translate(0%, 0%) scale(1);
    }
}

@keyframes fadeIn{
    0% {
        filter: opacity(0);
    }
    100% {
        filter: opacity(1);
    }
}